{% extends "base_home.html" %}

{% load static %}

{% block 'titulo' %}Serviços{% endblock %}

{% block 'home' %}
    <main>
        <div id="servicos">
            <div class="img_leg"><img src='{% static "home/imagens/argila_p.jpg" %}' alt="limpeza de pele">
                <p>limpeza de pele e rejuvenecimento</p>
            </div>

            <div class="img_leg"><img src='{% static "home/imagens/cera_p.jpg" %}' alt="cera">
            <p>depilação com cera</p></div>

            <div class="img_leg"><img src='{% static "home/imagens/dermo_p.jpg" %}' alt="dermaplaning">
            <p>dermaplaning</p></div>
        </div>
        <div class="video">
            <video src='{% static "home/videos/limpesa_facial(editado).mp4" %}' controls></video>
        </div>
        <img src='{% static "home/imagens/tabela.png" %}' alt="tabela de preços" id="tabela">
    </main>
    <link rel="stylesheet" href='{% static "home/style/servicos.css" %}'>
{% endblock %}