{% extends "base_home.html" %}

{% load static %}

{% block 'titulo' %}Sobre{% endblock %}

{% block 'home' %}
    <main>
        <h1>Seja bem vindo!</h1>
        <!-- descrição -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, accusantium voluptatibus id quia nesciunt soluta quasi earum? Ipsa, harum, perferendis quia sint, quo animi expedita nam soluta iure repellat similique!</p>
        <div id="descricao">
            <div class="imag" id="mae"></div>
            <!-- cuidado com textos muito longos -->
            <article>
              <p id="cabeça">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit adipisci minima ea, modi ipsum consequatur nesciunt officiis placeat nostrum iste, doloribus asperiores incidunt sint, quas voluptate dignissimos.
              </p>
              <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit adipisci minima ea, modi ipsum consequatur nesciunt officiis placeat nostrum iste, doloribus asperiores incidunt sint, quas voluptate dignissimos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio vitae, quam est similique maiores, tenetur id magnam eligendi quos blanditiis suscipit sequi aut fugit sit nobis. Modi, odit ab.
            Lorem ipsum dolor sit amet consectetur. -->
              <p id="pe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veritatis porro ut, corporis consequatur minus! Saepe, aliquam temporibus. Possimus sequi nulla maxime magni provident sit animi quidem veritatis laboriosam deserunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam modi dolores aspernatur! Nisi adipisci, nesciunt ipsa expedita possimus in exercitationem illo. Ut enim, sequi quidem provident nam assumenda corporis ad.</p>
            </article>
        </div>
    </main>
    <link rel="stylesheet" href='{% static "home/style/sobre.css" %}'>
{% endblock %}
