/* para vw = 655px está bom */
/* adaptar para a parelhos menores */
p {
    padding: 0 1ex;
}

#descricao {
    min-height: 26.5em;
    padding: 0 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#descricao div{
    height: 406px;
    max-height: 406px;
    margin: 0;
}
/* o texto fica 'achatando' a medita que aumenta a janela */
#descricao p {
    width: 50%;
    /* max-width: ; */
    max-height: 406px;
    margin: 0;
    box-sizing: border-box;
}
