/* para vw = 655px está bom */
/* adaptar para a parelhos menores */
p {
    padding: 0 1ex;
}

#descricao {
    min-height: 26.5em;
    padding: 0 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#descricao div{
    height: 406px;
    max-height: 406px;
    margin: auto 0;
    margin-top: 0;
}
/* o texto fica 'achatando' a medita que aumenta a janela */
#descricao article {
    width: 50%;
    height: 406px;
    /* max-width: ; */
    box-sizing: border-box;
}

#descricao p {
    margin: auto 0;
    box-sizing: border-box;
}

#descricao #cabeça {
    margin-bottom: 0.5em;
}

#descricao #pe {
    padding-bottom: .5em;
    margin-bottom: 0;
}

@media (max-width: 655px) {
    #descricao p{
        margin-left: 1ex;
        height: 568px;
    }
}
